@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 1px;
}
html body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "poppins", sans-serif;
  font-size: 16rem;
  background-color: #e0e9f0;
}
html body header {
  background-color: #21204a;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
html body header span {
  font-size: 28rem;
  font-weight: bold;
  border: 3px solid white;
  border-radius: 10px;
  padding: 0 10px;
}
html body header nav {
  width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
html body header nav .nav-link {
  text-decoration: none;
  color: #a6b8cf;
}
html body header nav .connect-wallet-btn {
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  margin-left: 30px;
}
html body header nav div {
  display: flex;
  align-items: center;
}
html body main {
  padding: 0 80rem;
}
html body main .activities {
  display: flex;
  margin-top: 60rem;
}
html body main .activities .active {
  color: #476285;
  font-size: 20rem;
  margin-right: 40rem;
}
html body main .activities .active-select {
  font-size: 12rem;
  border-radius: 6px;
  background-color: #f0f4f7;
  color: #476285;
  border: 1px solid #6e8fa6;
  width: 8%;
  padding: 8rem;
}
html body main hr {
  border: 1px solid #a6b8cf;
}
html body main .hero .hero-left {
  width: 20%;
}
html body main .hero .hero-left .filter {
  color: #476285;
  font-size: 14rem;
  margin: 12rem 0;
}
html body main .hero .hero-right {
  width: 60%;
}

@media screen {
  body {
    max-width: 1024x;
    font-size: 15rem;
  }
  body header {
    padding: 0 50px;
    height: 80px;
  }
  body header nav {
    width: 700px;
  }
  body header nav div {
    width: 150px;
  }
  body header nav .connect-wallet-btn {
    padding: 8px;
  }
}
@media screen and (min-width: 768px) and (max-width: 995px) {
  html {
    font-size: 1px;
  }
  html body {
    overflow: none;
    max-width: 995px;
    font-size: 15rem;
  }
  html body header {
    padding: 0 30px;
    height: 80px;
  }
  html body header nav {
    width: 300px;
  }
  html body header nav .nav-link {
    display: none;
  }
  html body header nav div {
    width: 200px;
  }
  html body header nav .connect-wallet-btn {
    padding: 8px;
  }
  html body header nav .fa-bars {
    display: block;
    margin-left: 10px;
  }
}
@media screen and (min-width: 591px) and (max-width: 767px) {
  html {
    font-size: 1px;
  }
  html body {
    overflow: none;
    max-width: 995px;
    font-size: 15rem;
  }
  html body header {
    padding: 0 20px;
    height: 80px;
  }
  html body header nav {
    width: 250px;
  }
  html body header nav div {
    width: 130px;
  }
  html body header nav .connect-wallet-btn {
    padding: 8px;
  }
  html body header nav .fa-bars {
    display: block;
  }
}
@media screen and (min-width: 180px) and (max-width: 768px) {
  html {
    font-size: 1px;
  }
  html body {
    overflow: none;
    max-width: 995px;
    font-size: 15rem;
  }
  html body header {
    padding: 0 20px;
    height: 80px;
  }
  html body header nav {
    width: 300px;
  }
  html body header nav .nav-link {
    display: none;
  }
  html body header nav div {
    width: 200px;
  }
  html body header nav .connect-wallet-btn {
    padding: 8px;
  }
  html body header nav .fa-bars {
    display: block;
    margin-left: 10px;
  }
}/*# sourceMappingURL=Activities.css.map */