//reset css
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

//variables
$bg-color: #21204a;
$font-color: white;
$font-color2: #a6b8cf;
$main-bg-color: #e0e9f0;
$inside-flex-item-bg-color: #f0f4f7;
$font-type: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
    Geneva, Verdana, sans-serif;

html {
    font-size: 1px;

    body {
        max-width: 1440px;
        margin: 0 auto;
        font-family: "poppins", sans-serif;
        font-size: 16rem;
        background-color: $main-bg-color;

        header {
            background-color: $bg-color;
            padding: 0 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;

            span {
                font-size: 28rem;
                font-weight: bold;
                border: 3px solid white;
                border-radius: 10px;
                padding: 0 10px;
            }

            nav {
                // border: 1px solid white;
                width: 900px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .nav-link {
                    text-decoration: none;
                    color: $font-color2;
                }

                .connect-wallet-btn {
                    border: 2px solid white;
                    border-radius: 10px;
                    padding: 10px 20px;
                    margin-left: 30px;
                }

                div {
                    display: flex;
                    align-items: center;
                }
            }
        }

        main {
            padding: 0 80rem;
            .activities {
                display: flex;
                margin-top: 60rem;

                .active {
                    color: #476285;
                    font-size: 20rem;
                    margin-right: 40rem;
                }

                .active-select {
                    font-size: 12rem;
                    border-radius: 6px;
                    background-color: #f0f4f7;
                    color: #476285;
                    border: 1px solid #6e8fa6;
                    width: 8%;
                    padding: 8rem;
                }
            }
            hr {
                border: 1px solid #a6b8cf;
            }
            .hero {
                .hero-left {
                    width: 20%;
                    .filter {
                        color: #476285;
                        font-size: 14rem;
                        margin: 12rem 0;
                       
                    }
                }
                .hero-right {
                    width: 60%;
                }
            }
        }
    }
}

@media screen {
    body {
        max-width: 1024x;
        font-size: 15rem;

        header {
            padding: 0 50px;
            height: 80px;

            nav {
                // border: 1px solid white;
                width: 700px;

                div {
                    width: 150px;
                }

                .connect-wallet-btn {
                    padding: 8px;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 995px) {
    html {
        font-size: 1px;

        body {
            overflow: none;
            max-width: 995px;
            font-size: 15rem;

            header {
                padding: 0 30px;
                height: 80px;

                nav {
                    width: 300px;

                    .nav-link {
                        display: none;
                    }

                    div {
                        width: 200px;
                    }

                    .connect-wallet-btn {
                        padding: 8px;
                    }

                    .fa-bars {
                        display: block;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 591px) and (max-width: 767px) {
    html {
        font-size: 1px;

        body {
            overflow: none;
            max-width: 995px;
            font-size: 15rem;

            header {
                padding: 0 20px;
                height: 80px;

                nav {
                    // border: 1px solid white;
                    width: 250px;

                    div {
                        // display: none;
                        width: 130px;
                    }

                    .connect-wallet-btn {
                        padding: 8px;
                    }

                    .fa-bars {
                        display: block;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 180px) and (max-width: 768px) {
    html {
        font-size: 1px;

        body {
            overflow: none;
            max-width: 995px;
            font-size: 15rem;

            header {
                padding: 0 20px;
                height: 80px;

                nav {
                    width: 300px;

                    .nav-link {
                        display: none;
                    }

                    div {
                        width: 200px;
                    }

                    .connect-wallet-btn {
                        padding: 8px;
                    }

                    .fa-bars {
                        display: block;
                        margin-left: 10px;
                    }
                }
            }
        }
    }
}